body{
  font-size:16px;
  font-family: Arial,sans-serif;
}

.container{
  width:1000px;
  margin:10px auto;
  position: relative;
}

.top-area{
    text-align: center;
}


.input-area{
  font-size:0px;
  text-align: center;
  margin-top:20px;
  margin-bottom:70px;
}

#do1,#do2{
  background: #f8f8f8;
  font-size:18px;
  text-align: center;
  padding:10px;
  width:140px;
  height: 80px;
  margin-right: 20px;
  border:solid;
  border-radius: 10px;
  display: inline-block;
}


#btn {
    margin: 20px;
    margin-right: 60px;
    margin-left: 70px;
    margin-bottom: -20px;
    width: 120px;
    height: 120px;
    border-radius: 50%;
    background: #EF454A;
    text-align: center;
    line-height: 130px;
    color: #fff;
    font-size: 96px;
    font-weight: 40px;
    cursor: pointer;
    opacity: 0.9;
    box-shadow: 0 10px 0 #D1483E;
    border: 3px solid #D1483E;
    user-select: none;
    display: inline-block;
}

#btn:hover{
  opacity:1;
}

#btn.pushed{
  margin-top:36px;
  box-shadow: 0 4px 0 #D1483E;
}


#btn2 {
    margin: 0px;
    margin-right: 90px;
    margin-bottom: -20px;
    width: 120px;
    height: 120px;
    border-radius: 50%;
    background: #EF454A;
    text-align: center;
    line-height: 130px;
    color: #fff;
    font-size: 96px;
    font-weight: 40px;
    cursor: pointer;
    opacity: 0.9;
    box-shadow: 0 10px 0 #D1483E;
    border: 3px solid #D1483E;
    user-select: none;
    display: inline-block;
}

    #btn2:hover {
        opacity: 1;
    }

    #btn2.pushed {
        margin-top: 36px;
        box-shadow: 0 4px 0 #D1483E;
    }
/* 結果の表示エリア */
.result-area{
  background: #f8f8f8;
  width:600px;
  text-align: center;
  margin-left: 130px;
  padding:60px;
  height:300px;
  border: solid;
  border-radius: 5px;
  position: relative;
}


#result{
 margin:0;
}

#reset{
  text-decoration: underline;
  cursor: pointer;
  position: absolute;
  bottom: 10px;
  right: 10px;
}

#reset.hidden{
  display: none;
}

#img{
  position: absolute;
  right:120px;
  top:420px;
  display: inline-block;
}

#start {
    padding: 1em 1em;
    margin: 23em 0;
    margin-left: 5em 0;
    color: #5d627b;
    background: white;
    border-top: solid 5px #5d627b;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.22);
}

    .start p {
        margin: 0;
        padding: 0;
    }